* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
    outline   : 0;
}

.display_limit {
    width           : 800px;
    overflow-x      : hidden;
    margin          : 15px;
    background-color: rgb(75, 66, 66);
    color           : white;
}

h2 {
    text-transform: uppercase;
    padding       : 15px 5;
}

.display_limit .rown {
    display: flex;
}

button {
    color           : white;
    background-color: rgb(75, 66, 66);
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
}