/* tablet */
@media screen and (max-width: 769px) {
    .container {
        padding: 5px 15px;
    }
    
    .section-2 {
        flex-wrap: wrap;
        border   : 1px solid #e7e7e7;
        padding  : 0;
    }

    .info-box {
        width          : 100%;
        border-bottom  : 1px solid #e7e7e7;
        border-right   : none;
        padding        : 10px 10px;
        justify-content: left;
    }

    .info-box:last-child {
        border-bottom: none;
    }

    .product-list,
    .list-new,
    .footer-row {
        flex-wrap: wrap;
        row-gap  : 10px;
    }

    .item,
    .description {
        width: calc((100% - 30px)/3);
    }

    .footer-col {
        width: calc((100% - 20px)/2);
    }

    .header-menu {
        display: none;
    }


    .toggle-tablet span,
    .toggle-tablet span::before,
    .toggle-tablet span::after {
        display         : inline-block;
        width           : 30px;
        height          : 3px;
        background-color: #e7e7e7;
        margin          : 2px;
    }
    .toggle-tablet span {
        position: relative;
    }
    .toggle-tablet span::before,
    .toggle-tablet span::after{
        position: absolute;
        content: " ";
        left: -2px;
    }
    .toggle-tablet span::before {
        top: 6px;
    }
    .toggle-tablet span::after {
        bottom: 6px;
    }
    .header-middle img {
        height: 35px;
        width : auto;
    }

    .search-bar {
        width : 220px;
        height: 40px;
    }

    .search-bar input {
        width : 80%;
        height: 35px;
    }

    .search-bar button i {
        font-size: 1rem;
    }

    .header-contact img {
        width : 25px;
        height: auto;
    }

    .header-contact h6 {
        margin-left: 8px;
        line-height: 1.1;
        font-size  : 10px
    }

    .header-contact a {
        font-size: 12px
    }

    .header-icon i {
        font-size: 15px;
        padding  : 8px;
    }
}