* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
    outline   : 0;
}

.container {
    line-height: 1.4;
    font-size  : 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width      : 1000px;
    margin     : 15px;

}

.title {
    width           : 100%;
    height          : 60px;
    background-color: rgb(12, 70, 85);
    display         : flex;
    justify-content : space-between;
    text-align      : center;
    align-items     : center;
}

.name {
    font-size   : 25px;
    color       : #fff;
    padding-left: 50px;
}

.menu {
    display    : flex;
    text-align : center;
    margin     : auto 0;
    align-items: center;
}

.select {
    width           : 110px;
    height          : 30px;
    border-radius   : 20px;
    background-color: rgb(12, 70, 85);
    cursor          : pointer;
    position        : relative;
    color           : white;
    text-align      : center;
    padding-top         : 3px;
    align-items     : center;
    margin: 0 5px;
}

.menu_sub {
    background-color: #fff;
    padding         : 10px 0;
    position        : absolute;
    top             : 45px;
    left            : 0;
    z-index         : 99;
    display         : none;
    box-shadow      : 0 1px 4px 0 rgb(0 0 0 / 37%);
    min-width       : 200px;
}

.menu_sub p {
    display        : block;
    width          : 100%;
    padding        : 5px 10px;
    text-decoration: none;
    color          : #222;
    text-align     : left;
}

.menu_sub p:hover {
    color           : rgb(12, 70, 85);
    background-color: #ececec;
}

.select:hover {

    background-color: #1a6be4;
    color           : white;
}

.select:hover .menu_sub {
    display: block;
}